* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	font-size: 1.6rem;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

h2 {
	font-family: "Bebas Neue", sans-serif;
}

.first-section {
	background-image: url(/src/images/getty-student-laptop3.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	width: 100%;
	display: flex;
	-webkit-mask-image: linear-gradient(to left, black, transparent 80%);
	mask-image: linear-gradient(to left, black, transparent 80%);
	position: relative;
	z-index: 1;
	text-align: justify;
	background-attachment: fixed;
}

.description {
	display: flex;
	justify-content: center;
	margin-left: 18rem;
	flex-direction: column;
	gap: 2rem;
	position: absolute;
	z-index: 2;
	height: 100%;
}

.description img {
	width: 60%;
	padding-bottom: 2rem;
	margin-left: -1.4rem;
}

.description h1 {
	color: blue;
	font-weight: bold;
	font-size: 4.5rem;
	text-align-last: justify;
}

.description p {
	font-size: 2.3rem;
	margin-bottom: 3rem;
	line-height: 3.5rem;
}

.button {
	font-weight: bold;
	color: white;
	border-radius: 2rem;
	border: none;
	background-color: #3653f8;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	padding: 1rem;
	cursor: pointer;
	width: 80%;
}

.about-section {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-section h2 {
	color: rgb(15, 15, 202);
	font-size: 4.5rem;
}

.images-person {
	width: 40%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

.text-person {
	width: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	font-size: 2.3rem;
}

.text-person p {
	margin-bottom: 1.5rem;
}

.about-section img {
	width: 45%;
	height: 90%;
	border-radius: 20px;
}

.format-section {
	background: rgb(26, 47, 153);
	background: radial-gradient(
		circle,
		rgba(26, 47, 153, 1) 0%,
		rgba(5, 3, 18, 1) 100%
	);
	background-attachment: fixed;
	padding-bottom: 6.9rem;
}

.format-section h2 {
	padding-top: 3.9rem;
}

.main-format {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	flex-wrap: wrap;
}

.format-section h2 {
	text-align: center;
	color: white;
	font-size: 5.5rem;
}

.format-section img {
	width: 25%;
	margin-top: 3rem;
}

.format_1,
.format_2 {
	text-align: center;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	color: white;
	font-size: 2.5rem;
}

.content-section h2 {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 5.5rem;
	color: blue;
}

.main-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3rem;
}

.card {
	width: 38%;
	border: rgb(106, 16, 126) solid 1px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.card-header {
	background-color: blue;
	color: #fff;
	border-radius: 15px;
	padding: 4rem;
}

.card-header h3 {
	font-size: 2rem;
}

.card-header h4 {
	font-size: 2.7rem;
	margin-bottom: 2rem;
}

.card-header p {
	font-size: 2rem;
}

.card-content {
	padding: 3rem;
	line-height: 3.9rem;
	font-size: 2rem;
}

.benefits-section {
	background: rgb(26, 47, 153);
	background: radial-gradient(
		circle,
		rgba(26, 47, 153, 1) 0%,
		rgba(5, 3, 18, 1) 100%
	);
	margin-top: 7rem;
	padding-bottom: 7rem;
}

.benefits-section h2 {
	padding-top: 3.9rem;
	padding-bottom: 3.9rem;
	text-align: center;
	color: white;
	font-size: 5.5rem;
}

.main-benefits {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 9rem;
}

.benefits_1,
.benefits_2 {
	width: 30%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
	font-size: 2rem;
	text-align: center;
}

.benefits_1 img,
.benefits_2 img {
	width: 20%;
}

.information-section {
	padding: 20rem;
	background-image: url(/src/images/Digital_Tech.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.information-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15rem;
	font-size: 2.9rem;
	color: #fff;
	font-weight: 600;
}

.information-content .button {
	width: 34%;
}

.speakers-section {
	padding: 4rem;
}

.speakers-section h2 {
	padding-top: 3.9rem;
	padding-bottom: 3.9rem;
	text-align: center;
	font-size: 5.5rem;
	color: blue;
}

.speakers-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3.6rem;
}

.card-speaker {
	width: 18%;
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	color: #fff;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	background-image: linear-gradient(144deg, #4c1970, #36269b 50%, #0e0e0f);
}

.card-speaker img {
	width: 100%;
	border-radius: 15px;
}

#btn-show {
	display: none;
}

.form-section {
	background-image: url(/src/images/chip.jpg);
	height: 100vh;
	display: flex;
	justify-content: center;
	background-attachment: fixed;
	flex-wrap: wrap;
}

.text-offer {
	background-color: rgb(255, 255, 255);
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text-offer h3 {
	color: blue;
	margin-bottom: 5rem;
	font-size: 3rem;
	text-align: center;
}

.text-offer h4 {
	margin-bottom: 4rem;
	font-size: 4rem;
	text-align: center;
}

.text-offer span {
	color: blue;
}

.text-offer p {
	font-size: 2rem;
	line-height: 3.5rem;
	margin-bottom: 5rem;
	font-weight: bolder;
	text-align: center;
}

.text-offer button {
	margin-top: 3rem;
}

.all-form {
	width: 30%;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: left;
}

.all-form h3 {
	font-size: 3rem;
	color: #fff;
	text-align: center;
	margin-bottom: 4rem;
}

.form-section .button {
	width: 80%;
}

.all-form .button {
	color: blue;
	background-color: #fff;
}

form input {
	width: 80%;
	padding: 1.5rem;
	margin-bottom: 2rem;
	border-radius: 10px;
	border: none;
	display: block;
	margin: 0 auto;
	flex: 2;
}

form {
	margin-bottom: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

#som {
	margin-bottom: 4.5rem;
}

.companies-section {
	margin-right: 15%;
	margin-left: 15%;
}

.companies-section h2 {
	padding-top: 3.9rem;
	padding-bottom: 3.9rem;
	text-align: center;
	font-size: 5.5rem;
	color: blue;
}

.companies {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5rem;
}

.companies img {
	width: 17%;
}

.sales-section {
	padding: 5rem;
	background-color: rgb(255, 251, 246);
}

.sales-section h2 {
	padding-bottom: 3.9rem;
	text-align: center;
	font-size: 5.5rem;
	color: blue;
}

.sales-section p {
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 3rem;
}

.sales-section div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 12rem;
}

.sales-section img {
	width: 9%;
}

.faq-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20rem;
}

.faq-section h2 {
	padding-top: 3.9rem;
	padding-bottom: 3.9rem;
	text-align: center;
	font-size: 5.5rem;
	color: blue;
}

details {
	margin-bottom: 2rem;
	background-color: rgb(214, 214, 214);
	width: 55%;
	padding: 1.5rem;
	color: blue;
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
}

details:hover {
	background-color: blue;
	color: rgb(214, 214, 214);
	transition: 0.5s;
}

.faq-section p {
	padding: 1.5rem;
	color: black;
	font-weight: normal;
}

footer {
	background-color: rgb(218, 218, 220);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 1.5rem;
}

footer img {
	width: 20%;
}

@media (min-width: 320px) and (max-width: 480px) {
	.description {
		margin: 0;
		width: 100%;
		align-items: center;
	}

	.description h1 {
		text-align: center;
		text-align-last: center;
		font-size: 3rem;
	}

	.description img {
		width: 90%;
		margin-left: 0;
	}

	.description p {
		text-align: center;
	}

	.about-section {
		flex-direction: column;
		height: 100%;
		order: 1;
		margin-bottom: 10rem;
		margin-top: 3rem;
	}

	.images-person {
		width: 90%;
		padding: 0;
		order: 2;
	}

	.text-person {
		width: 80%;
		text-align: center;
	}

	.about-section img {
		width: 90%;
	}

	.card {
		width: 85%;
	}

	.card-header {
		padding: 3rem;
	}

	.card-content {
		padding: 3rem;
	}

	.benefits-section h2 {
		padding: 3rem;
	}

	.benefits_1,
	.benefits_2 {
		width: 80%;
	}

	.information-section {
		padding: 5rem;
	}

	.information-content {
		flex-direction: column;
		gap: 10rem;
		text-align: center;
	}

	.information-content .button {
		width: 95%;
	}

	.card-speaker {
		width: 90%;
	}

	.show {
		display: none;
	}

	#btn-show {
		display: block;
		margin: 0 auto;
		margin-top: 3rem;
	}

	.form-section {
		width: 100%;
		height: 100%;
	}

	.text-offer {
		width: 90%;
		border-radius: 15px;
		margin-bottom: 3rem;
		padding: 1.8rem;
		margin-top: 3rem;
	}

	.form-section .button {
		width: 100%;
	}

	.all-form {
		width: 90%;
		border-radius: 15px;
		padding: 1.8rem;
		margin-bottom: 3rem;
	}

	.all-form input {
		width: 100%;
	}

	.companies-section h2 {
		font-size: 4rem;
	}

	.companies img {
		width: 40%;
	}

	.sales-section div {
		gap: 5rem;
	}

	.sales-section img {
		width: 29%;
	}

	.faq-section {
		margin-bottom: 5rem;
	}

	details {
		width: 85%;
	}

	footer {
		font-size: 1.9rem;
	}

	footer img {
		width: 60%;
	}
}

@media (min-width: 481px) and (max-width: 991px) {
	.description {
		margin: 0;
		width: 100%;
		align-items: center;
	}

	.description h1 {
		text-align: center;
		text-align-last: center;
		font-size: 3rem;
	}

	.description img {
		width: 50%;
		margin-left: 0;
	}

	.description p {
		text-align: center;
	}

	.description .button {
		width: 50%;
	}

	.about-section {
		height: 100%;
		order: 1;
		flex-direction: row;
		margin-bottom: 10rem;
		margin-top: 10rem;
	}

	.images-person {
		width: 30%;
		flex-direction: row;
		padding: 0;
		order: 2;
	}

	.text-person {
		width: 50%;
	}

	.images-person img:nth-child(2) {
		display: none;
	}

	.about-section img {
		width: 90%;
	}

	.main-format {
		flex-wrap: nowrap;
	}

	.card {
		width: 44%;
	}

	.card-header {
		padding: 3rem;
	}

	.benefits-section h2 {
		padding: 3rem;
	}

	.benefits_1,
	.benefits_2 {
		width: 40%;
	}

	.information-section {
		padding: 5rem;
	}

	.information-content {
		flex-direction: column;
		gap: 10rem;
		text-align: center;
	}

	.information-content .button {
		width: 55%;
	}

	.speakers-section {
		padding: 2.4rem;
	}

	.speakers-main {
		gap: 2rem;
	}

	.card-speaker {
		width: 30%;
	}

	.card-speaker h4 {
		text-align: center;
	}

	.form-section {
		width: 100%;
		height: 100%;
		gap: 3rem;
	}

	.text-offer {
		width: 45%;
		border-radius: 15px;
		margin-bottom: 3rem;
		padding: 2rem;
		margin-top: 3rem;
	}

	.text-offer .button {
		width: 100%;
	}

	.all-form {
		width: 45%;
		border-radius: 15px;
		padding: 2rem;
		margin-bottom: 3rem;
		margin-top: 3rem;
	}

	.all-form .button {
		width: 100%;
	}

	.companies-section {
		margin-right: 10%;
		margin-left: 10%;
	}

	.companies-section h2 {
		font-size: 4rem;
	}

	.companies img {
		width: 18%;
	}

	.sales-section div {
		gap: 5rem;
	}

	.sales-section img {
		width: 10%;
	}

	.faq-section {
		margin-bottom: 5rem;
	}

	details {
		width: 85%;
	}

	footer {
		font-size: 1.9rem;
	}

	footer img {
		width: 30%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.images-person {
		width: 55%;
	}

	.information-section .button {
		width: 90%;
	}

	.form-section {
		gap: 3rem;
		height: 100%;
	}

	.text-offer {
		margin-bottom: 3rem;
		margin-top: 3rem;
		padding: 2rem;
		border-radius: 10px;
	}

	.text-offer .button {
		width: 100%;
	}

	.all-form {
		margin-bottom: 3rem;
		margin-top: 3rem;
		border-radius: 10px;
	}
}
